body{
    background-color:rgb(95, 95, 95)
    
}
.cabecalho{
    border: #000;
}

header{
    margin-top: 5%;
    height: 10%;
    
}
#MenuTime{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    background-color:darkgrey
}


li{
    list-style: none;
    font-weight: bold;
    display: inline;
    padding: 1% 8% 1% 8%;
    border: 5px solid rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
    
}