body{
    background-color:azure;
    margin: 0%;
    padding: 0%;
    
}

header{
    margin-top: 5%;
    height: 10%;
    
}

#boasVindas{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    background-color:darkgrey
}


#MenuTime{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    background-color:darkgrey
}

.cabecalho{
    border: #000;
}


.botao{
    text-decoration: none;
    font-family: 'Gill Sans';
    font-size: 25px;
    text-align:start;
    border: 2px solid #000;
    background-color: #fff;
    position:sticky;
    font-weight: bold;
    color: #000;
    border-radius: 40px;
    
    height: 20px;
    background: #ebebeb;
    display:flex;
    justify-content: center;
    align-items: center;

    
}

.fut{
    width: 24%;
    height: 24%;
    grid-template-columns: 33% 33% 33% 33%;
    grid-template-rows: auto;
}




li{
    list-style: none;
    font-weight: bold;
    display: inline;
    padding: 1% 8% 1% 8%;
    border: 5px solid azure;
    background-color: rgb(182, 182, 182);
    
}

#fotoPalmeiras{
    width: 310px;
    height:50px;
    padding-top: 55%;
    background-image: url("../Imagens/palmeiras.jpg");
    display: inline-block;
}
#fotoVasco{
    width: 310px;
    height:50px;
    padding-top: 55%;
    background-image: url("../Imagens/vasco.jpg");
    display: inline-block;
}
#fotoGremio{
    width: 310px;
    height:50px;
    padding-top: 55%;
    background-image: url("../Imagens/gremio\ novo.jpg");
    display: inline-block;
}
#fotoAtletico{
    width: 310px;
    height:50px;
    padding-top: 55%;
    background-image: url("../Imagens/atletico\ novo.jpg");
    display: inline-block;
}
    li:hover{
    background-color: #8b8b8b;
    color: #fff;
    border: 5px solid rgb(0, 0, 0);
}

.historia{
    height: 30%;
    border: 2px solid rgb(0, 0, 0);
    padding: 5%;
    font-size: 30px;
    text-align: justify;
    background-color: #fff;
    margin-top: 1%;
    margin-bottom: 1%;
}



nav{
    margin-top: -3.5%;
    height: 10%;
    margin-bottom: 1.3%;
}

.historia{
    height: 30%;
    border: 2px solid #000;
    padding: 5%;
    font-size: 30px;
    text-align: justify;
    background-color: #fff;
    margin-top: 1%;
    margin-bottom: 1%;
}

#fechamento, #rodape{
    height: 10%;
    text-align: center;
    border: 2px solid #000;
    margin-top: 1%;
    font-size: 15px;
    background-color: #fff;
    background-repeat:no-repeat;
}



